/**
* @name AxeriaAdventureTheme
* @version Auto Update
* @description Made By - JustFries204#4215
* @author JustFries204#4215
* @invite hMKyTVeaSX
* @Source https://github.com/eiofkfr/AxeriaAdventureTheme/delete/main/AxeriaAdventure.theme.css
* @website https://discord.gg/hMKyTVeaSX
*/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://fonts.googleapis.com/css2?family=Anton');
:root {
--background-image: url('https://i.imgur.com/glakQ6f.png');
--background-image-blur: 18px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://i.imgur.com/qxuWgyu.png');
--popout-modal-blur: 9px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://discordstyles.github.io/FrostedGlass/assets/discord.svg');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.6;
--left-brightness: 0.6;
--middle-brightness: 0.6;
--right-brightness: 0;
--popout-modal-brightness: 0.75;
--gradient-primary: 183,0,0;
--gradient-secondary: 255,121,0;
--gradient-direction: 320deg;
--tint-colour: 255,0,0;
--tint-brightness: 0;
--window-padding: 20px;
--window-roundness: 10px;
--scrollbar-colour: #ffffff0d;
--link-colour: #00b0f4;
--show-gift-gif-buttons: none;
--font: 'Anton';
--update-notice-1: none;
}